{{define "main"}}
<main class="💪 🪜" id="main">
  <div class="💪 🌳" id="main-child">
    <div id="content" class="🌳" style="padding-left: 0; padding-right: 0;">
      {{template "page" .}}
    </div>
  </div>
</main>
{{end}}