{{define "page"}}
<h2>S3</h2>

<p>
  Cache avoided {{.NumCachedCalls}} API calls
</p>
<p>Query took ({{.Duration}})</p>


<ul>{{.AssetLines}}</ul>

<h2 class="🍜">Update S3 Cache</h2>

<p>
  You can manually refresh the cache for individual services for free.
</p>

<button class="disabled">Refresh</button> <span style="color:red">(disabled in demo)</span>
<p>
  <a href="overview">See Overview on details on traversing entire graph</a>
</p>

{{end}}