{{define "page"}}
<div class="main-header">
  <ul class="breadcrumb ">
    <li>
      <a class="menu-link-main" href="/account">Account Setting</a>
    </li>
    <li>
      <a class="menu-link-main" href="/encryption">Password</a>
    </li>
  </ul>
</div>
<div class="content-wrapper">
  <div class="content-section">
    <p>
      Your account type 'demo' does not have privileges to make changes.
    </p>
  </div>
</div>
{{end}}