{{define "page"}}
<div class="main-header 🦠">
  <div>
    <span class="menu-link-main">Search:</span>
    {{if .IsAll}}
    <a href="{{.SearchUrlBase}}"><span class="badge 🔥">All</span></a>
    {{else}}
    <a href="{{.SearchUrlBase}}"><span class="badge 🍺">All</span></a>
    {{end}}
    {{if .IsGCP}}
    <a href="{{.SearchUrlGCP}}"><span class="badge 🔥">GCP</span></a>
    {{else}}
    <a href="{{.SearchUrlGCP}}"><span class="badge 🍺">GCP</span></a>
    {{end}}
    {{if .IsAWS}}
    <a href="{{.SearchUrlAWS}}"><span class="badge 🔥">AWS</span></a>
    {{else}}
    <a href="{{.SearchUrlAWS}}"><span class="badge 🍺">AWS</span></a>
    {{end}}
    {{if .IsAzure}}
    <a href="{{.SearchUrlAzure}}"><span class="badge 🔥">Azure</span></a>
    {{else}}
    <a href="{{.SearchUrlAzure}}"><span class="badge 🍺">Azure</span></a>
    {{end}}
    {{if .IsMore}}
    <a href="{{.SearchUrlMore}}"><span class="badge 🔥">More</span></a>
    {{else}}
    <a href="{{.SearchUrlMore}}"><span class="badge 🍺">More</span></a>
    {{end}}
  </div>
  <a class="menu-link-main" id="search-tools" tabindex="0">
    Tools
  </a>
</div>
<div class="main-header">
  <span class="menu-link-main" id="search-count">{{.CountTotalResults}} results ({{.Duration}})</span>
  <div id="search-filter" class="ninja">
    <div class="widget__select_wrapper">Within
      <div class="widget__select">
        <span class="widget__select_value" id="search-filter-date-placeholder">All time</span>
        <ul class="widget__select_options ninja" id="search-filter-date-dropdown">
          <li><span class="widget__select_option widget__select_option_active" id="search-filter-date-active">All
              time</span></li>
          <li><a href="" class="widget__select_option">Past hour</a></li>
          <li><a href="" class="widget__select_option">Past 24 hours</a></li>
          <li><a href="" class="widget__select_option">Past week</a></li>
          <li><a href="" class="widget__select_option">Past month</a></li>
          <li><a href="" class="widget__select_option">Custom range...</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="content-wrapper">
  {{if .Unauthorized}}
  <p>
    You've not authorized us for GCP access. <a href="authorization">Securely grant access.</a>
  </p>
  {{else}}
  {{if .IsRegex}}
  <p class=🍕>warning: regex is not supported in the demo</p>
  {{end}}
  {{if .HasFilter}}
  <p class=🍕>warning: in the demo, we ignore the search filter (everything after the ':::') </p>
  {{end}}
  {{if .Error }}
  <p>{{.Error}}</p>
  {{else if .HasResults}}
  <div class="💪 🪜">
    {{ range .Results }}
    <div class="app-card 🎴">
      <div class="app-card__subtext"><a href="{{.Link}}">{{.Link}}</a></div>
      <div class="app-card__content">
        {{if eq .Product "GCE"}}
        <h3>Compute Engine VM "{{.Name}}"</h3>
        {{else if eq .Kind "Project"}}
        <h3> GCP Project "{{.Name}}"</h3>
        {{else if eq .Kind "Service"}}
        <h3> GAE Service "{{.Name}}"</h3>
        {{else if eq .Kind "Version"}}
        <h3> GAE Version "{{.Name}}"</h3>
        {{else}}
        <h3></h3>
        {{end}}
        <p>{{.Text}}</p>
      </div>
    </div>
    {{ end }}
  </div>
  {{else}}
  <p>No results found</p>
  {{end}}

</div>
{{end}}
{{end}}