{{define "page"}}
<h2>GAE Resource Tree</h2>

{{if .Unauthorized}}
<p>
  You've not authorized us for GCP access. <a href="authorization">Securely grant access.</a>
</p>
{{else if .MissingScopes}}
<p>
  The following OAuth2 Scopes are needed but not yet granted:

<ul>
  <li>https://www.googleapis.com/auth/cloud-platform.read-only
</ul>

<a href="authorization">Securely grant access</a>
( note: we applied principle of least privilege in the demo account. initially and, by default, only read scopes
requested.
write scopes ( due to lazy API practices on GCP's part ) are on opt-in basis.

</p>
{{else}}
<span style="font-style: italic;">Uncached / real-time query took 237ms involving ( {{.APICallCount}} ) API
  calls.</span>
<p>
  Assets from <span style="font-family: monospace">{{.Email}}</span>
</p>
<ul>{{.AssetLines}}</ul>
{{end}}

{{end}}