{{define "page"}}

<div class="🐉 💪 🪜" id="search-hero">
  <div class="💪 🦠">
    <h3 id="search-header">Search Results for: <span id="search-original-query"></span></h3>
    <nav class="💪 🦷 ⚖️ top-nav" style="padding-top: 3px">
      <span id="search-redo-cta" class="🐕 ⚡" tabindex="0" onkeyup="">
        search
      </span>
      <span tabindex="0" class="🐕 arrow down" id="search-advanced">modifier<i></i>
      </span>
    </nav>
  </div>
  <input id="query" value="{{.Query}}"></input>
  <div class="💪 🥷 🦠" id="query-builder">
    <div>
      <label for="provider">Provider:</label>
      <select name="provider" id="filter-scope" onchange="changeProvider(event)">
        <option value="all">All (implicit) </option>
        <option value="gcp">GCP</option>
        <option value="aws">AWS</option>
        <option value="azure">Azure</option>
      </select>
      <label for="algo">Algo:</label>
      <select name="algo" id="filter-scope" onchange="changeAlgo(event)">
        <option value="substring">substring (implicit) </option>
        <option value="fulltext">Full-text</option>
      </select>
      <label for="time">Modified:</label>
      <select name="time" id="filter-scope" onchange="changeTime(event)">
        <option value="all">All time</option>
        <option value="last24h">Last 24h</option>
        <option value="lastmonth">Last Month (implicit) </option>
      </select>
    </div>
    <div>
      <span class="🐕 🥷" id="search-builder-reset">reset</spn>
    </div>
  </div>
</div>

{{if .IsRegex}}
<p style="font-style: italic;">warning: regex is not supported in the demo</p>
{{end}}

{{if .HasFilter}}
<p style="font-style: italic;">warning: in the demo, we ignore the search filter (everything after the ':::') </p>
{{end}}

{{if .Error }}
<p>{{.Error}}</p>
{{else if .HasResults}}

<div class="💪 🪜" style="padding: 10px;">
  {{ range .Results }}
  <div class="🎴 ">
    <h5 class="truncate">{{.Link}}</h5>
    {{if eq .Product "GCE"}}
    <h3>Compute Engine VM "{{.Name}}"</h3>
    {{else if eq .Kind "Project"}}
    <h3> GCP Project "{{.Name}}"</h3>
    {{else if eq .Kind "Version"}}
    <h3> GAE Version "{{.Name}}"</h3>
    {{else}}
    <h3></h3>
    {{end}}
    <p>
      {{.Text}}
    </p>
  </div>
  {{ end }}
</div>

{{else}}
<p>No results found</p>
{{end}}

{{end}}