{{define "page"}}
<h2>CloudSQL</h2>

{{if .Unauthorized}}
<p>
  You've not authorized us for GCP access. <a href="authorization">Securely grant access.</a>
</p>
{{else if .MissingScopes}}
<p>
  The following OAuth2 Scopes are needed but not yet granted:

<ul>
  <li>https://www.googleapis.com/auth/cloud-platform.read-only
  <li>https://www.googleapis.com/auth/sqlservice.admin ( write )
    <ul>
      <li>CloudSQL demands this, even if only reading.
      </li>
    </ul>
</ul>

<a href="authorization">Securely grant access. </a>
( note: we applied principle of least privilege in the demo account. initially and, by default, only read scopes
requested.
write scopes ( due to lazy API practices on GCP's part ) are on opt-in basis.
</p>
{{else}}
<p>
  Enumerates functions across Projects
</p>

<h2 class="🍜">Update SQL Cache</h2>
<p>
  The full-graph traversal / cache invalidation runs on schedule.
</p>
<ul style="font-style: italic;">
  <li>Last indexing occured: {{.LastRunTime}} ago. ( triggered by scheduler ) </li>
  <li>Next indexing scheduled in: {{.NextRunTime}}.
    <a href="/plans" class="link_with_arrow">Perform ad-hoc run immediately</a>
  </li>
  <li>Indexing schedule every 24 hours.
    <a href="/plans" class="link_with_arrow">Increase this limit with Premium</a>
  </li>
</ul>
<p>
  You can manually refresh the cache for individual resources for free.
</p>

<button><a href="sql?r=true">Refresh SQL</a></button>
<br />
<br />

<ul>{{.AssetLines}}</ul>
{{end}}


{{end}}