{{define "leftnav"}}
<nav class=🔫 id=left-nav>
  <li><a href="search?q=test%20:::%20time:last24">Search</a>
  <li>
    {{if eq .Section "gcp"}}
    <details id="nav-gcp" open>
    {{else}}
    <details id="nav-gcp">
    {{end}}
      <summary>GCP</summary>
      <ul class=🔫>
        <li><a href=overview>Overview</a>
        <li><a href=gce>VMs</a>
        <li><a href=gae>GAE</a>
        <li><a href=sql>PSQL</a>
        <li><a href=functions>Functions</a>
        <li><a href=apis_enabled>APIs Enabled</a>
      </ul>
    </details>
  </li>
  <li>
    {{if eq .Section "aws"}}
    <details id="nav-aws" open>
    {{else}}
    <details id="nav-aws">
    {{end}}
      <summary>AWS</summary>
      <p class=🍕>Disabled in demo</p>
    </details>
  </li>
  <li>
    {{if eq .Section "azure"}}
    <details id="nav-zure" open>
    {{else}}
    <details id="nav-zure">
    {{end}}
      <summary>Azure</summary>
      <p class=🍕>Disabled in demo</p>
    </details>
  <li><a href="authorization">Authorization</a>
  <li><a href="export">Export</a>
  <li><a href="account">Account</a>
  <li>
    <form method=post action=/logout>
      <input type=hidden name=name value=value />
      <a onclick="this.parentNode.submit();">Logout</a>
    </form>
</nav>
{{end}}