<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>DiceDuckMonk </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="style_glass.css">
</head>

<body>
  <div class="video-bg">
    <video width="320" height="240" autoplay loop muted>
      <source src="/static/screensaver.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <!-- TODO: change dark-light CSS rule to ID selector -->
  <div id="lightswitch" class="dark-light">
    <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round"
      stroke-linejoin="round">
      <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z" />
    </svg>
  </div>
  <div class="app">
    <div class="header 🦠">
      <div class="header-menu">
        <a href="/" style="color: #FF6600">川</a>
        {{if .IsLoggedIn}}
        {{if .IsSearch}}
        <a class="menu-link notify" href="/overview">GCP</a>
        {{else}}
        <a class="menu-link is-active notify" href="/overview">GCP</a>
        {{end}}
        <span class="menu-link">AWS</span>
        <span class="menu-link">Azure</span>
        {{end}}
      </div>
      {{if .IsLoggedIn}}
      <div class="search-bar" id="search-bar">
        <input type="text" placeholder="Type to search..." id="search-bar">
      </div>
      <div>
        <ul class="🔫 🐼">
          <li><a href=account>Account</a></li>
          <li>
            <form method=post action=/logout>
              <input type=hidden name=name value=value />
              <a onclick="this.parentNode.submit();" tabindex=0>Logout</a>
            </form>
          </li>
        </ul>
      </div>
      {{else}}
      <div>
        <ul class="🔫 🐼">
          <a href="/login">Login</a>
        </ul>
      </div>
      {{end}}
    </div> <!-- end header -->
    {{template "main" .}}

    <div class="overlay-app"></div>
  </div>
  {{ template "javascript" . }}