{{define "page"}}
<div class="landing 🪜">
  <div class="🪜 splash-container">
    <img src="/static/splash_landing.gif"
      alt="Illustration of Japanese torii gate in water under the moonlight. Courtesy of https://www.pixeltrue.com/scenic-illustrations">
    <h1>Gateway to your Cloud Infrastructure</h1>
  </div>
  <div class="content content-narrow">
    <p>
      DiceDuckMonk's search engine help citizens of cloud avoid...
    </p>
    <ul>
      <li>Laborious UIs</li>
      <li>High-friction API integration</li>
      <li>Fragmented code packages and docs</li>
    </ul>
    <p>
      Teams can now quickly find assets. This is especially important during production outages.
      Our consolidated view enables teams to piece together their
      cloud story, whether that is from scratch or multi-cloud.
    </p>
    <p>
      <a href="/demo">Try it out now!</a>
    </p>
  </div>
  <section class="🪜 content-narrow ⚖️">
    <h2>Supported Integrations</h2>
    <div class="💪" style="gap: 40px;">
      <div class="🪜 🎂">
        <img src="/static/cloud_logo_aws.png" alt="logo of AWS">
        AWS
      </div>
      <div class="🪜 🎂">
        <img src="/static/cloud_logo_azure.png" alt="logo of Azure">
        Azure
      </div>
      <div class="🪜 🎂">
        <img src="/static/cloud_logo_gcp.png" alt="logo of GCP">
        GCP
      </div>
    </div>
    <p>
      <a href="{{.EapUrl}}" class="💘">Learn more about our service coverage</a>
    </p>
  </section>
  <section class="🪜 content-narrow">
    <div>
      <h2>Ready to learn more?</h2>
      <p>
        Talk to our enginering founders to learn how we
        save developers' time while providing operational visibility for business executives.
        If you came here from YCombinator, we have a demo using live rather cached data.
      </p>
      <p>
        <a href="mailto: {{.ContactEmail}}" class=💘>Email us</a><br />
        <a href="{{.EapUrl}}" class=💘>Early Access Program</a>
      </p>
    </div>
  </section>
  <section class="🪜 ⚖️ content-narrow">
    <h2 class="🍜">System Status</h2>
    <p>If you’re experiencing an issue with developer tools or services,
      find out if there’s maintenance in progress or a
      known issue.
    </p>
    <p>
      <a href="/status" class="💘">View system status</a>
    </p>
  </section>
</div>

<style>
  .landing p,
  .landing li {
    font-size: 20px;
  }
</style>
{{end}}