{{define "page"}}
<div class="landing 🤍 💪 🪜">
  <div class="splash-container">
    <img src="/static/splash.gif"
      alt="Illustration of Japanese torii gate in water under the moonlight. Courtesy of https://www.pixeltrue.com/scenic-illustrations">
    <h1>Coming Soon</h1>
  </div>
</div>

{{end}}