{{define "page"}}
<div class="landing 🪜">
  <div class="splash-container">
    <img src="/static/splash_ship.gif"
      alt="Illustration of sailboat at sea in evening. Courtesy of https://www.pixeltrue.com/scenic-illustrations">
    <h1>Available to the public soon. Please sign up for the <a href="{{.EapUrl}}" class="link_with_arrow">Early Access
        Program</a>
    </h1>
  </div>
</div>

{{end}}