:root {
  --a: #030303;
  --b: #1d1d1d;
  --d: #516048;
  --f: #A1C58B;
  --e: #e0f6cf;
  --g: #636660;
  --h: #313231;
  --i: #dff6cf;
  --j: #DAD7CD;
  --x: #588157;
  --frame-thickness: 1px;
  --width: 980px;
}

.🍕 { font-style: italic; }
.💪, .🪜 { display: flex; }
.🪜 { flex-flow: column; }
.🦷 { gap: 1rem; }
.🌳 { flex: 1; }
.🌎 { border: 0; }
.🥷 { display: none; }
.⚖️  { justify-content: center; }
.🦠 { justify-content: space-between; }
.🎂 { align-items: center; } /** vert align. when 🪜, center align */
.📞 { text-align: center; }
.🚫 { padding: 0; }
.🍜 { margin: 0; }
.🔫 { list-style: none; }
.🌃 { filter: brightness(25%); transition: filter .5s; }

#s-i {
  font-size: 17px;
  height: 38px;
  padding: 0 0 0 38px;
  outline: none;
  border-bottom: 1px solid var(--e);
  color: var(--j);
}
#s-i, #s-s {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='44' viewBox='0 0 16 44'%3E%3Cpath d='M15.27 28.29l-4.06-4.06a6.113 6.113 0 0 0 1.35-3.83c0-3.39-2.76-6.15-6.15-6.15-3.39 0-6.15 2.76-6.15 6.15s2.76 6.15 6.15 6.15c1.43 0 2.75-.5 3.8-1.33l4.06 4.06 1-.99zM6.4 25.33a4.93 4.93 0 0 1-4.92-4.92c0-2.71 2.2-4.92 4.92-4.92s4.92 2.21 4.92 4.92c.01 2.71-2.2 4.92-4.92 4.92z' fill='%23e0f6cf'/%3E%3C/svg%3E") no-repeat 13px center;
}
#s-s, #s-c {
  width: 38px;
  height: 38px;
  cursor: pointer;
}
#s-c {
  opacity: .7;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'  fill='%23e0f6cf' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E") no-repeat center;
}
#s-c:hover {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'  fill='%23000000' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E") no-repeat center;
  background-color: var(--f);
  opacity: 1.0;
  transition: 0.5s;
}

body {
  /** TODO revisit font */
  font-family:  Helvetica, Arial, sans-serif;
  height: 100vh;
  background-color: var(--b);
  color: var(--j);
}

header {
  padding: .5rem;
  border-bottom: var(--frame-thickness) solid var(--h);
  justify-content: center;
}
header>div{ flex: 0 0 var(--width); }
header a { color: var(--e); }
#logo { line-height: 38px; } /** TODO: refactor to variable */
#logo > a { font-size: 1.2rem; opacity: 1; font-weight: 600;}
#logo > a > span { transform: scale(-1, 1); display: inline-block; } /** mirror the kanji  */
#logo > .tag-beta {
  margin: 0 10px;
  padding: 3px 10px;
  border-radius: 12px;
  font-size: .9rem;
  background-color: var(--x);
}
#session-nav a { opacity: .7; font-size: .9rem; }
#session-nav { flex-direction: row-reverse; align-items: center;}
footer { border-top: var(--frame-thickness) solid var(--h); padding-top: 10px; }
footer>ul>li { display: inline-block; padding: 0 .5rem; }
footer>ul>li:not(:last-child) { border-right: 1px solid #424245; }
footer>ul>li>a { color: #a1a1a6; }

main { width: var(--width); }

aside { flex-basis: 14em; border-right: var(--frame-thickness) solid var(--h); }
aside nav { margin-top: 40px; }
aside li { padding: .5rem 0; }
aside li.active { border-right: .5rem solid var(--f); }
aside ul { padding: 0; margin: .5rem 0 0 0; }
aside ul>li { padding-left: 20px; }

#content { padding: 40px; }

img { user-select: none; max-width: 100%; } /** constaint blog images on small screen */

h2, h3 {
  margin: 0 0 16px 0;
  padding-bottom: 5px;
  font-weight: 300;
  color: var(--i);
}
h2 { font-size: 40px; }
h3 { font-size: 20px; }

a, span.🐕 { text-decoration: none; color: #4EA5D9; cursor: pointer; }
.🐕:hover, a:hover, .top-nav a:hover, #logo a:hover, #s-s:hover {
  transition: opacity 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity: .65;
  text-decoration: underline;
}

table {
  border-collapse: collapse;
  font-size: 0.9em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-top: 1px solid #484b45;
  width: 100%;
}
thead tr { background-color: #3D4449; color: #fff; }
tbody tr {  border-bottom: 1px solid #484b45; }
tbody tr.active-row { font-weight: bold; color: #3D4449; }
td { padding: 10px; }

button {
  background-color: transparent;
  outline: none;
  border: 1px solid var(--g);
  color: var(--f);
  padding: 6px 10px;
  cursor: pointer;
}
button:hover {
  border-color: var(--f);
  color: var(--e);
  transition: border-color 1s, color .5s ease;
}
button.disabled { color: var(--g); cursor: not-allowed; }
button.disabled:hover { border-color: var(--g); }

hr {
  width: 300px; /** TODO paramterize */
  background-color: grey; /** TODO: paramterizer */
  border: none;
  height: 1px;
}

.👻, input[type=checkbox]:checked~label { display: none;}

.splash-container { position: relative; }
.splash-container > h1 {
  position: absolute;
  bottom: 40px;
  left: 150px;
  width: 340px;
  font-weight: 500;
  text-shadow: 10px 10px 15px black;
}
.splash-container > img { border-radius: 4px; width: 100%; } /** Handle image being smaller than container*/

.content-narrow { padding: 20px 150px; }

.💘:after { content: "❯"; padding-left: .3rem; }

@media all and (max-width: 1000px) {
  header { justify-content: flex-start;}
  header>div, aside { flex-basis: auto; }
  #session-nav, main, header>div { flex-direction: column; }
  aside, #session-nav { padding-top: 20px; padding-bottom: 20px; }
  #session-nav { align-items: flex-start; }
  aside {  border-right: 0; border-bottom: 1px solid var(--h);}

  #content { padding: 20px; }
  #session-nav, aside>nav, #logo { margin-left: 20px; }
  aside>nav { margin-top: 0; padding-top: 0; }
  .content-narrow { padding: 10px; }
  .splash-container>h1 { font-size: 32px; left: 40px; }
}