:root {
  --a: #030303;
  --b: #1d1d1d;
  --c: #3A4634;
  --d: #516048;
  --e: #768A6A;
  --f: #A1C58B;
  --e: #e0f6cf;
  --g: #636660;
  --h: #313231;
  --i: #dff6cf;
  --j: #DAD7CD;
  --x: #588157;
  --y: black;
  --z: #4EA5D9;
  --frame-thickness: 1px;
  --width: 980px;
  --text: #2B3044;
  --line: #BBC1E1;
  --line-active: #275EFE;
}

.🍕 { font-style: italic; }
.💪 { display: flex; }
.🪜 { display: flex; flex-flow: column; }
.🦷 { gap: 1rem; }
.🌳 { flex: 1; }
.🌎 { border: 0; }
.🥷 { display: none; }
.📜 { overflow: auto; }
.⚖️  { justify-content: center; }
.🦠 { justify-content: space-between; }
.🎂 { align-items: center; } /** vert align. when 🪜, center align */
.📞 { text-align: center; }
.🚫 { padding: 0; }
h1, .🍜 { margin: 0; }
.🔫 { list-style: none; }

/************* Resets *************/
a, span.🐕 {
  text-decoration: none;
  color: var(--z);
  cursor: pointer;
}

/** https://stackoverflow.com/questions/12906789/preventing-an-image-from-being-draggable-or-selectable-without-using-js */
img {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  max-width: 100%; /** TODO: consider merging with splash image */
}

#content {
  padding: 40px;
}

#content h1 {
  margin-bottom: 1rem;
}

.🌃 {
  filter: brightness(25%);
  transition: filter .5s;
}

.arrow>i {
  border: solid var(--e);
  border-width: 0 2px 2px 0;
  display: inline-block; /** consider adding class */
  padding: 4px;
  margin-left: 10px; /** consider remove */
}
.down>i {
  transform: rotate(45deg) translateX(-3px);
}
#s-i {
  font-size: 17px;
  height: 38px;
  margin: 0 0 0 1rem;
  padding: 0 0 0 38px;
  outline: none;
  border-bottom: 1px solid var(--e);
  color: var(--j);
  filter: brightness(100%);
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='44' viewBox='0 0 16 44'%3E%3Cpath d='M15.27 28.29l-4.06-4.06a6.113 6.113 0 0 0 1.35-3.83c0-3.39-2.76-6.15-6.15-6.15-3.39 0-6.15 2.76-6.15 6.15s2.76 6.15 6.15 6.15c1.43 0 2.75-.5 3.8-1.33l4.06 4.06 1-.99zM6.4 25.33a4.93 4.93 0 0 1-4.92-4.92c0-2.71 2.2-4.92 4.92-4.92s4.92 2.21 4.92 4.92c.01 2.71-2.2 4.92-4.92 4.92z' fill='%23e0f6cf'/%3E%3C/svg%3E") no-repeat 13px center;
}

#search-start {
  width: 38px;
  cursor: pointer;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='44' viewBox='0 0 16 44'%3E%3Cpath d='M15.27 28.29l-4.06-4.06a6.113 6.113 0 0 0 1.35-3.83c0-3.39-2.76-6.15-6.15-6.15-3.39 0-6.15 2.76-6.15 6.15s2.76 6.15 6.15 6.15c1.43 0 2.75-.5 3.8-1.33l4.06 4.06 1-.99zM6.4 25.33a4.93 4.93 0 0 1-4.92-4.92c0-2.71 2.2-4.92 4.92-4.92s4.92 2.21 4.92 4.92c.01 2.71-2.2 4.92-4.92 4.92z' fill='%23e0f6cf'/%3E%3C/svg%3E") no-repeat 13px center;
}
#search-cancel {
  cursor: pointer;
  width: 38px;
  height: 38px;
  opacity: .7;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'  fill='%23e0f6cf' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E") no-repeat center;
}
#search-cancel:hover {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'  fill='%23000000' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E") no-repeat center;
  background-color: var(--f);
  opacity: 1.0;
  transition: 0.5s;
}

.🐕:hover, a:hover, .top-nav a:hover, #logo a:hover, #search-start:hover {
  transition: opacity 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity: .65;
  text-decoration: underline;
}

body {
  font-family: SF Pro Text, Myriad Set Pro, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  height: 100vh;
  background-color: var(--b);
  color: var(--j);
}

hr {
  width: 300px;
  background-color: grey;
  border: none;
  height: 1px;
}

header {
  flex: 0 1rem;
  padding: .5rem;
  border-bottom: var(--frame-thickness) solid var(--h);
}
#header-child {
  justify-content: space-between;
  align-items: center;
  flex: 0 0 var(--width);
}
/** TODO: add an ID  for this element */
main {
  width: var(--width);
}

#logo {
  font-weight: 400; /**  TODO: Refactor */
  font-size: 1.2rem;
  line-height: 38px; /** TODO: refactor to variable */
}
#logo a {
  color: var(--e); /** TODO: can probably refactor */
  opacity: 1;
}
#logo #logo-image {
  transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  display: inline-block;
}

aside {
  width: 14em;
  border-right: var(--frame-thickness) solid var(--h);
}
aside nav {
  margin-top: 40px;
}
aside ul {
  padding: 0;
  margin: .5rem 0 0 0;
}
aside ul>li {
  padding-left: 20px;
}
aside li {
  font-size: 16px;
  padding: .5rem 0rem;
}
aside li.active {
  border-right: 8px solid var(--f);
}

input[type="submit"] {
  background-color: #0071e3;
  opacity: .9;
  border-radius: 1rem;
  padding: 4px 11px;
  font-size: 17px;
  color: white;
}

input[type="submit"]:hover {
  background-color: #0077ed;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.landing {
  font-size: 21px;
  width: var(--width);
}

.splash-container {
  width: var(--width);
  position: relative;
}
.splash-container > h1 {
  position: absolute;
  bottom: 100px;
  left: 150px;
  width: 400px;
  font-weight: 500;
  text-shadow: 10px 10px 15px black;
}
.splash-container > img {
  border-radius: 12px;
  width: 100%; 
}

.content-narrow {
  padding: 0px 150px 51px 150px;
  border-bottom: 1px solid rgb(66, 66, 69);
}


.link_with_arrow:after {
  content: "❯";
  padding-left: .3rem;
}

h2, h3 {
  margin: 0 0 16px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--g);
  font-weight: 300;
  font-size: 40px;
  color: var(--i);
}
h3 {
  font-size: 20px;
}

footer {
  border-top: var(--frame-thickness) solid var(--h);
  padding: 21px 0px;
}
footer>ul>li { display: inline-block; padding: 0 .5rem; }
footer>ul>li:not(:last-child) { border-right: 1px solid #424245; }
footer>ul>li>a { color: #a1a1a6; }

.👻, input[type=checkbox]:checked~label { display: none;}

#tag-beta {
  vertical-align: middle;
  margin: 0 10px;
  padding: 3px 10px;
  border-radius: 12px;
  box-shadow: 4px 4px var(--a);
  font-weight: 400;
  font-size: 15px;
  color: var(--b);
  background-color: var(--x);
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-top: 1px solid #484b45;
  min-width: 675px;
}
thead tr { background-color: #3D4449; color: #fff; text-align: left; }
tbody tr {  border-bottom: 1px solid #484b45; }
tbody tr.active-row { font-weight: bold; color: #3D4449; }
td { padding: 10px; }

button {
  background-color: transparent;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color: var(--g);
  color: var(--f);
  padding: 6px 10px;
}
button:hover {
  border-color: var(--f);
  color: var(--e);
  transition: border-color 1s, color .5s ease;
}
button.disabled {
  color: var(--g);
  cursor: not-allowed;
}
button.disabled:hover {
  border-color: var(--g);
  color: var(--g);
}

#top-nav {
  flex-direction: row-reverse;
}
#top-nav a {
  opacity: .8;
  color: var(--e);
  font-weight: 400;
  font-size: 14px;
}

@media all and (max-width: 1000px) {
  #top-nav, main,  #header-child { flex-direction: column; }
  #top-nav, aside>nav { margin-left: 40px; }
  aside { width: auto; border-right: 0; border-bottom: 1px solid #313231; }
  aside>nav { margin-top: 20px; padding-top: 0; }
  .content-narrow { padding: 10px; }
  #header-child { flex-basis: 800px; justify-content: flex-start; align-items: flex-start; }
  main, .landing, .splash-container { width: 800px; }
  table { min-width: 720px; }
  .splash-container>h1 {
    font-size: 36px;
    left: 60px;
    bottom: 80px;
    width: 350px;
  }
}
@media all and (max-width: 800px) {
  aside>nav, #logo, #top-nav { margin-left: 20px; }
  #content { padding: 20px; }
  section, .content-narrow { padding: 10px; }
  #header-child { flex-basis: 600px; }
  main, .splash-container, .landing { width: 600px; }
  table { min-width: 560px; }
  .splash-container > h1{
    font-size: 36px;
    left: 60px;
    bottom: 80px;
  }
}
@media all and (max-width: 600px) {
  #header-child { flex-basis: 450px; }
  /** TODO fix this on small screen. inline styles on element overides */
  #landing-cloud-partners, .splash-container, main, .landing { width: 450px; }
  table { min-width: 410px; }
  .splash-container > h1  {
    font-size: 30px;
    left: 36px;
    bottom: 50px;
    width: 350px;
  }
}

@media all and (max-width: 450px) {
  #header-child { flex-basis: 350px; }
  #landing-cloud-partners, .splash-container, main, .landing { width: 350px; }
  table { min-width: 310px; }
  .splash-container>h1 {
    font-size: 24px;
  }
}