{{define "leftnav"}}
<nav class=🔫>
  <li class="left-nav-link"><a href="search?q=test%20:::%20time:last24">Search</a>
  <li>
    <details id="nav-gcp">
      <summary>GCP</summary>
      <ul class=🔫>
        <li class="left-nav-link"><a href=overview>Overview</a>
        <li class="left-nav-link"><a href=gce>VMs</a>
        <li class="left-nav-link"><a href=gae>GAE</a>
        <li class="left-nav-link"><a href=sql>PSQL</a>
        <li class="left-nav-link"><a href=functions>Functions</a>
      </ul>
    </details>
  <li>
    <details id="nav-aws">
      <summary>AWS</summary>
      <p class=🍕>Disabled in demo</p>
    </details>
  <li>
    <details id="nav-aws">
      <summary>Azure</summary>
      <p class=🍕>Disabled in demo</p>
    </details>
  <li class="left-nav-link"><a href="export">Export</a>
  <li class="left-nav-link"><a href="authorization">Authorization</a>
  <li class="left-nav-link"><a href="account">Account</a>
  <li>
    <form method=post action=/logout>
      <input type=hidden name=name value=value />
      <a onclick="this.parentNode.submit();">Logout</a>
    </form>
</nav>
{{end}}