{{define "main"}}
<div class="wrapper">
  {{if not .IsSearch}}
  {{ template "leftnav" .}}
  {{end}}
  <div class="main-container">
    <div id="frame-content" class="main-container" style="overflow: auto;">
      {{template "page" .}}
    </div>
    <div class="widget__loading-bar ninja" id="sonic-linear-waiting">
      <div class="widget__loading-bar-value"></div>
    </div>
  </div>
</div>

{{end}}