<!DOCTYPE html>
<html lang=en-US>
<title>{{.BrandName}}</title>
<meta name=viewport content="width=device-width,initial-scale=1">
<meta name=description content="The best way to access your cloud infrastructure.">
<link rel="stylesheet" href="./style.css">
<!-- Prevent fake favicon requests. https://stackoverflow.com/questions/1321878/how-to-prevent-favicon-ico-requests. -->
<link rel="icon" href="data:;base64,iVBORw0KGgo=">

<body class="💪 🪜 🍜 📜 🚫">
  <header id="header" class="💪 🎯">
    <div class="💪" id="header-child">
      <div class="💪">
        <h1 id="logo" class="🍜">
          <a href="/"><span id="logo-image">川</span></a>
          <span id="tag-beta"><a href="{{.EapUrl}}">Early Access</a></span>
        </h1>
      </div>
      <div id="search-box" class="💪 🌳 👻">
        <input class="🌳"
          type="text"
          placeholder="Search"
          spellcheck="false"
          autocomplete="off"
          aria-label="Search term"
          id="search-input">
        <span id="search-cancel"></span>
      </div>
      <ul class="🍜 💪 🦷 ⚖️ top-nav" id="top-nav" >
        {{if .IsLoggedIn}}
        <span class="top-link" id="search-start" tabindex=0></span>
        <form method="post" action="/logout" id="top-link">
          <input type="hidden" name="name" value="value" />
          <a onclick="this.parentNode.submit();">Logout</a>
        </form>
        <a href="/account">Account</a>
        {{else}}
        <a href="/demo">Demo</a>
        {{end}}
      </ul>
    </div>
  </header>
  <div class="💪 🌳 ⚖️">
    {{template "main" .}}
  </div>
  <footer class="💪 🪜">
    <div class="📞" style="margin-bottom: 12px">
      <a href="{{.EapUrl}}">Join our Early Access Program!</a>
    </div>
    <ul class="🔫 🍜 🚫 footer-links">
      <li><a href="about.txt">About</a></li>
      <li><a href="api.txt">API</a></li>
      <li><a href="security.txt">Security</a></li>
      <li><a href="legal.txt">Legal</a></li>
      <li><a href="mailto:{{.ContactEmail}}">Contact</a></li>
    </ul>
  </footer>
  <script>
    $ = l => document.getElementById(l);
    rm = (l, c) => $(l).classList.remove(c);
    ad = (l, c) => $(l).classList.add(c);

    let searchBoxInFocus = showingQueryBuilder = false,
        c = 'click',
        u = 'keyup';
    
    function eventHandlerSearchBoxFocus(q) {
      searchBoxInFocus = true;
      rm('search-box', '👻');
      ad('top-nav', '👻');
      ad('main', '🌃');
      ad('logo', '🌃');
      if(q && q.length > 0) $('search-input').value = q;
      $('search-input').focus();
    }

    function eventHandlerSearchBoxDefocus() {
      searchBoxInFocus = false;
      ad('search-box', '👻');
      rm('top-nav', '👻');
      rm('main', '🌃');
      rm('logo', '🌃');
      $('search-input').value = '';
    }

    const ss = $('search-start');
    if(ss)  {
      ss.addEventListener(c, eventHandlerSearchBoxFocus);
      ss.addEventListener(u, e => e.code == 'Enter' && e.preventDefault() && eventHandlerSearchBoxFocus());
    }

    document.addEventListener('keydown', e => {
      if (!searchBoxInFocus && e.code == 'Backslash') e.preventDefault(), eventHandlerSearchBoxFocus(e);
    });
    $('search-input').addEventListener('keydown', e => {
      if(!searchBoxInFocus) return;
      if (e.code == 'Escape') e.preventDefault(), eventHandlerSearchBoxDefocus();
      else if (e.code == 'Enter') {
        {{if not .IsLoggedIn}}
          window.location.href = '/login?error=4';
        {{else}}
          e.preventDefault();
          s($('search-input').value);
        {{end}}
      } else if (e.code == 'Tab') e.preventDefault();
    });
    $('search-cancel').addEventListener(c, eventHandlerSearchBoxDefocus);
    
    const elNavGcp = $("nav-gcp");
    if (elNavGcp) {
      if (localStorage.getItem('nav-gcp-open') == 'true') elNavGcp.open = true;

      elNavGcp.addEventListener("toggle", _ => {
        localStorage.setItem('nav-gcp-open', elNavGcp.open);
      });
    } 

    console.log("%c Hello Y = f=>(x=>x(x))(x=>f(y=>x(x)(y)))",
      "font-size: 24px;background: #67b26f; background: -webkit-linear-gradient(to right, #67b26f, #4ca2cd); background: linear-gradient(to right, #67b26f, #4ca2cd); color: white;text-align: center; padding: 10px 15px; width: 100%;border-radius: 20px;");   


  {{if .IsSearch}}
      
      {{if .Query}} 
      let q = '{{.Query}}';
      {{else}}
      let q = '';
      {{end}}
      const elSearchAdvanced = $("search-advanced");
      elSearchAdvanced.addEventListener(c, _ => {
          if(showingQueryBuilder)
            elSearchAdvanced.classList.add('down'), ad("query-builder", "🥷");
          else
            elSearchAdvanced.classList.remove('down'), rm("query-builder", "🥷");
          showingQueryBuilder = !showingQueryBuilder;
        }); 
        elSearchAdvanced.addEventListener(u, (e) => {
          if(e.code == 'Enter') {
            event.preventDefault();
             if(showingQueryBuilder)
              elSearchAdvanced.classList.add('down'),
              showingQueryBuilder = false,
              ad("query-builder", "🥷");
            else
              elSearchAdvanced.classList.remove('down'),
              showingQueryBuilder = true,
              rm("query-builder", "🥷");
          }
      });

    $('search-builder-reset').addEventListener(c, _ => {
      $("query").value = originalQuery, resetSearchState();
    });

  function resetSearchState() {
    rm('search-header', '⚡');
    ad('search-redo-cta', '⚡');
    ad('search-builder-reset', '🥷');
    $('search-original-query').innerText = '';
  }

      function updateQuery(tk = []) {
      if(f[0] != "all") tk.push("provider:" + f[0]);
      if(f[1] != "substring") tk.push("algo:" + f[1]);
      if(f[2] != "all") tk.push("time:" + f[2]);
      r = $("query");
      if(tk.length > 0) q = [r.value.split(":::")[0].trim(), ":::", ...tk].join(" ");
      if(q == originalQuery) { 
        r.value = originalQuery;
        resetSearchState();
      } else {
        r.value = q;
        ad('search-header', '⚡');
        $('search-original-query').innerText = originalQuery;
        rm('search-redo-cta', '⚡');
        rm('search-builder-reset', '🥷');
      }
    }

      let originalQuery = q || '',
        baseQuery = (q.length > 0 && q.split(':::')[0] ) || '',
        f = ['all', 'substring', 'all'];

      function change(e, i) {
        f[i] = e.target.value;
        updateQuery();
      }
      $('query').addEventListener(u, e => {
        e.preventDefault();
        if(e.code == 'Enter') {
          s(e.target.value);
        } else if(e.target.value == originalQuery) {
          q = e.target.value;
          resetSearchState();
        } else {
          q = e.target.value;
          ad('search-header', '⚡');
          $('search-original-query').innerText = originalQuery;
          rm('search-redo-cta', '⚡');
          rm('search-builder-reset', '🥷');
        }
      });
  const srcta = $('search-redo-cta');
  srcta.addEventListener(c, e => q != originalQuery && e.preventDefault() && s(q));  
  srcta.addEventListener(u, e => event.code == 'Enter' && q != originalQuery && e.preventDefault() && s(q));
  {{end}}

  const leftNavLinks = document.querySelectorAll('.left-nav-link');
  if(leftNavLinks) {
    leftNavLinks.forEach(el => {
      if (el.querySelector('a').href.split('?')[0] == window.location.href.split('?')[0]) {
        el.classList.add('active');
        return;
      }
    });
  }

  function s(q) { window.location.href = '/search?q=' + encodeURI(q); }
  </script>