{{define "page"}}
<div class="main-header">
  <a class="menu-link-main" href="#">Search results</a>
</div>
<div class="content-wrapper">

  <div class="landing 💪 🪜">
    <div class="splash-container">
      <img src="/splash_ship.gif" style="border-radius: 12px; width: 100%"
        alt="Illustration of sailboat at sea in evening. Courtesy of https://www.pixeltrue.com/scenic-illustrations">
      <h1 class="splash-text 🤍">Available to the public soon. Please sign up for the <a href="{{.EapUrl}}"
          class="💘">Early Access Program</a>
      </h1>
    </div>
  </div>

</div>
{{end}}