<!DOCTYPE html>
<html lang=en-US>
<title>{{.BrandName}}</title>
<meta name=viewport content="width=device-width,initial-scale=1">
<meta name=description content="Search engine for GCP, plus more.">
<link rel=stylesheet href=style.css>
<link rel=icon href=data:,>

<body class="🪜 🍜 🚫">
  <header class="💪 🎂 ⚖️">
    <div class="💪 🦠 🎂">
      <div id=logo>
        <a href="/">川</a>
        <span class=tag-beta><a href="{{.EapUrl}}">Early Access</a></span>
      </div>
      <div id=s-b class="💪 🌳 👻">
        <input class="🌳 🌎" type=text placeholder="Type to search..." spellcheck=false autocomplete=off
          aria-label="Search term" id="s-i">
        <span id=s-c></span>
      </div>
      <ul class="🍜 💪 🦷 ⚖️ 🚫" id=session-nav>
        {{if .IsLoggedIn}}
        <span class=top-link id=s-s tabindex=0></span>
        <form method=post action=/logout id="top-link" style="display: inline-flex">
          <input type=hidden name=name value=value />
          <a onclick="this.parentNode.submit();">Logout</a>
        </form>
        <a href=/account>Account</a>
        <a href="set_theme?theme=kubrick">ModernMode (Unstable)</a>
        {{else}}
        <a href=/login>Login</a>
        {{end}}
      </ul>
    </div>
  </header>
  <div class="💪 🌳 ⚖️">{{template "main" .}}</div>
  <footer class="🪜 🎂">
    <a href="{{.EapUrl}}">Join our Early Access Program!</a>
    <ul class="🔫 🚫">
      <li><a href=about.txt>About</a>
      <li><a href=api.txt>API</a>
      <li><a href=security.txt>Security</a>
      <li><a href=legal.txt>Legal</a>
      <li><a href="mailto:{{.ContactEmail}}">Contact</a>
    </ul>
  </footer>
  {{template "javascript" .}}