<!DOCTYPE html>
<html lang=en-US>
<title>{{.BrandName}}</title>
<meta name=viewport content="width=device-width,initial-scale=1">
<meta name=description content="Search engine for GCP, plus more.">
<link rel=stylesheet href=style.css>
<link rel=icon href=data:,>

<body class="💪 🪜 🍜 📜 🚫">
  <header class="💪 🎯">
    <div class=💪 id="header-child">
      <div class=💪>
        <h1 id=logo>
          <a href= /><span id=logo-image>川</span></a>
          <span id=tag-beta><a href="{{.EapUrl}}">Early Access</a></span>
        </h1>
      </div>
      <div id=search-box class="💪 🌳 👻">
        <input class=🌳 type=text placeholder="Type to search..." spellcheck=false autocomplete=off
          aria-label="Search term" id="s-i">
        <span id=search-cancel></span>
      </div>
      <ul class="🍜 💪 🦷 ⚖️" id=top-nav>
        {{if .IsLoggedIn}}
        <span class=top-link id=search-start tabindex=0></span>
        <form method=post action=/logout id="top-link" style="display: inline-flex">
          <input type=hidden name=name value=value />
          <a onclick="this.parentNode.submit();">Logout</a>
        </form>
        <a href=/account>Account</a>
        <a href="set_theme?theme=kubrick">Web 3.0 Mode (Unstable)</a>
        {{else}}
        <a href=/demo>Demo</a>
        {{end}}
      </ul>
    </div>
  </header>
  <div class="💪 🌳 ⚖️">{{template "main" .}}</div>
  <footer class="💪 🪜">
    <p class=📞><a href="{{.EapUrl}}">Join our Early Access Program!</a>
    <ul class="🔫 🍜 🚫">
      <li><a href=about.txt>About</a>
      <li><a href=api.txt>API</a>
      <li><a href=security.txt>Security</a>
      <li><a href=legal.txt>Legal</a>
      <li><a href="mailto:{{.ContactEmail}}">Contact</a>
    </ul>
  </footer>
  {{template "javascript" .}}