{{define "javascript"}}
<script>
let $d = document,
    rm = (l, c) => l.classList.remove(c),
    ad = (l, c) => l.classList.add(c),
     $ = l => $d.getElementById(l),
     p = 'preventDefault',
     k = 'Enter',
     w = e => (el, f) => el && el.addEventListener(e, f),
     wc = w('click'),
     wt = w('keyup')
     j = false,
     q = '',
    $i = $('s-i'),
    $m = document.getElementsByTagName('main')[0],
    $l = $('logo'),
    $t = $('session-nav'),
    $s = $('search-box'),
    $a = $('search-start'),
     y = x => x.href.split('?')[0],
     v = e => e.target.value,
     s = q => window.location.href = `/search?q=${encodeURI(q)}`,
    fo = _ => { j=true ; rm($s, '👻'); ad($t, '👻'); ad($m, '🌃'); ad($l, '🌃'); if(q && q.length > 0) $i.value= q; $i.focus(); }
  defo = _ => { j=false; ad($s, '👻'); rm($t, '👻'); rm($m, '🌃'); rm($l, '🌃');                       $i.value='';             }

wc($a, fo);
wt($a, e => e.code == k && (e[p](), fo()));
wt($d, e => !j && e.code == 'Backslash' && (e[p](), fo(e)));
wt($i, e => {
  if(j) {
    if(e.code == 'Escape') e[p](), defo();
    else if (e.code == k) {
      {{if .IsLoggedIn}}
        e[p]();
        s($('s-i').value);
      {{else}}
        window.location.href = '/login?error=4';
      {{end}}
    } else if (e.code == 'Tab') e[p]();
  }
});
wc($('search-cancel'), defo);

// Not critical
console.log("%c Hello Y = f=>(x=>x(x))(x=>f(y=>x(x)(y)))", "font-size:24px;background:#67b26f;background:-webkit-linear-gradient(to right, #67b26f, #4ca2cd); background: linear-gradient(to right, #67b26f, #4ca2cd);color:white;text-align:center;padding:10px 15px;width:100%;border-radius:20px;");   

{{if eq .IsSearch "yes" }}
 let            f = ['all', 'substring', 'lastmonth'],
            elSoq = $('search-original-query'),
              $qb = $('query-builder'),
              $r  = $('s-b-r'), 
                r = $("query"),
              $sm = $('s-mod'),
              $re = $('s-re'),
               $h = $('s-h'),
               dd = 'filter-expander-arrow-down',
              sqb = false,
             o$sm = _ => {
                      if(sqb) ad($sm, dd), ad($qb, "🥷");
                      else    rm($sm, dd), rm($qb, "🥷");
                      sqb = !sqb;
                    },
            reset = _ => { 
                      elSoq.innerText = ''; ad($r, '🥷'); 
                      rm($h, '⚡'); ad($re, '⚡'); 
                    };
{{if .Query}}q = '{{.Query}}' {{end}};
o = q || '';

wc($sm, o$sm); 
wt($sm, e => e.code == k && (e[p](), o$sm()));

wc($r, _ => r.value = o, reset());

function change(e, i) { 
  f[i] = v(e)
  let tk = [];
  if(f[0] != "all"      ) tk.push("provider:" + f[0]);
  if(f[1] != "substring") tk.push(    "algo:" + f[1]);
  if(f[2] != "lastmonth") tk.push(    "time:" + f[2]);
  if(tk.length) {
    q = [r.value.split(":::")[0].trim(), ":::", ...tk].join(" ").trim();
    if (q == o) {
      r.value = o;
      reset();
    } else {
      r.value = q;
      ad($h, '⚡');
      elSoq.innerText = o;
      rm($re, '⚡');
      rm($r, '🥷');
    }
  } else {
    r.value = r.value.split(":::")[0].trim();
    if(r.value == o) reset();
  }
}
wt(r, e => {
  e[p]();
  if(e.code == k) s(v(e));
  else if(v(e) == o) q = v(e), reset();
  else {
    q = v(e);
    ad($h, '⚡');
    elSoq.innerText = o;
    rm($re, '⚡');
    rm($r, '🥷');
  }
});
wc($re, e => q != o && (e[p](), s(q)));
wt($re, e => e.code == k && q != o && e[p]() && s(q));
{{end}}

// Not critical
const lnl = $d.querySelectorAll('#left-nav li > a');
lnl && lnl.forEach(el => y(el) == y(window.location) && ad(el.parentElement, 'active'));
</script>
{{end}}